<divclass="row">
<divclass="col-md-2"></div>
<divclass="col-md-6">
<divclass="container mt-3">
<divclass="media">
<img
src="https://avatars2.githubusercontent.com/u/4866485?v=4"
class="align-self-start mr-3 rounded"
style="width: 60px"
/>
<divclass="media-body">
<h2>{​​​​​​​​{​​​​​​​​ user.name }​​​​​​​​}​​​​​​​​</h2>
<p>{​​​​​​​​{​​​​​​​​ user.bio }​​​​​​​​}​​​​​​​​</p>
</div>
</div>
<h4>Data</h4>
<p>
 Public repos: {​​​​​​​​{​​​​​​​​ user.public_repos }​​​​​​​​}​​​​​​​​ <br/>
 Followers: {​​​​​​​​{​​​​​​​​ user.followers }​​​​​​​​}​​​​​​​​ <br/>
 Active for {​​​​​​​​{​​​​​​​​ user.created_at | dateCalculator }​​​​​​​​}​​​​​​​​ days
</p>
</div>
</div>
<divclass="col-md-4"></div>
</div>

​[12:24 PM] Daniel Kinyanjui
    

<divclass="row">
<divclass="col-md-2"></div>
<divclass="col-md-6">
<divclass="container mt-3">
<divclass="media">
<img
src="https://avatars2.githubusercontent.com/u/4866485?v=4"
class="align-self-start mr-3 rounded"
style="width: 60px"
/>
<divclass="media-body">
<h2>{​​​​​​​​{​​​​​​​​ user.name }​​​​​​​​}​​​​​​​​</h2>
<p>{​​​​​​​​{​​​​​​​​ user.bio }​​​​​​​​}​​​​​​​​</p>
</div>
</div>
<h4>Data</h4>
<p>
 Public repos: {​​​​​​​​{​​​​​​​​ user.public_repos }​​​​​​​​}​​​​​​​​ <br/>
 Followers: {​​​​​​​​{​​​​​​​​ user.followers }​​​​​​​​}​​​​​​​​ <br/>
 Active for {​​​​​​​​{​​​​​​​​ user.created_at | dateCalculator }​​​​​​​​}​​​​​​​​ days
</p>
</div>
</div>
<divclass="col-md-4"></div>
</div>


